.container {
  margin: 30px auto;
  max-width: 1200px;
}

.top-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .logo-img {
    display: block;
    width: 50px;
  }
}

.top-bar,
.ant-form,
.site-card-wrapper {
  
  &:not(:last-child) {
    margin-bottom: 30px;
  }

}

.ant-list-item {
  min-height: 98px;

  .ant-btn {

    &:not(:last-child) {
      margin-right: 15px;
    }

  }

}

.article {

  h2 {
    text-transform: capitalize;
  }

}