.container {
  margin: 50px auto;
  max-width: 750px;
}

.site-card-wrapper {
  
  &:not(:last-child) {
    margin-bottom: 30px;
  }

}

.site-search {
  display: flex;
  justify-content: space-between;
  align-items: center;
}